@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  border: 2px solid red;
  font-family: 'Quicksand', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.grid-container {
  align-self: center;
  align-content: center;
  overflow: auto;
  width: 500px;
  height: 500px;
  display: grid;
}

.black {
  background-color: #000;
}
