@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
  color: white
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  height: 100vh;
  background-color: #2c2f33;
}

.page-content {
  display: flex;
  flex: 1 0 auto;
}

.grid-container {
  align-self: center;
  align-content: center;
  overflow: auto;
  width: 500px;
  height: 500px;
  display: grid;
  box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.75);
  background-color: #FFF;
}

.footer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}
.black {
  background-color: #000;
}
